<div class="container">
    <div class="row">
        <div class="row-xs-12">
            <label>Server Name</label>
            <p>Hello {{ userName? userName : "" }}</p>
            <input
            type="text"
            class="form-control"
            placeholder="userName"
            [(ngModel)]="userName"
            >
            <button
                type="text"
                [disabled]="!userName"
                (click)="userName=''"
                >Log out</button>
            <br><br>
            <input
                type="text"
                class="form-control"
                placeholder="serverName"
                [(ngModel)]="serverName">
            <button 
                class="btn btn-primary"
                [disabled]="!allowNewServer"
                (click)="onCreateServer()"
                >Add server</button>
            <br><br>
            <p *ngIf="serverName">{{ serverCreationStatus }}</p>

            <button
                type="text"
                (click)="logActivity()"
                >Log Activity</button>
            <br><br>
            <p 
                *ngFor="let log of logs; index as i"
                [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
                [ngClass]="{'white-text': i >= 5}"
            > {{ log }} </p>

            <app-server *ngFor="let server of servers"></app-server>
        </div>
    </div>
</div>